$font-main: 'Roboto', Arial, Helvetica, sans-serif;
$font-secondary: 'Roboto Condensed', Arial, Helvetica, sans-serif;

$size-main: 13px;

$color-main: #000000;
$color-grey: #999999;
$color-grey-light: #CCCCCC;
$color-blue: #4997D0;

// Ширина контейнера
$container-desktop: 768px;